# Copyright (c) Moodle Pty Ltd.
#
# Moodle is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Moodle is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
#
# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# Unix-style newlines with a newline ending every file onsave.
end_of_line = lf
insert_final_newline = true

# Traim trailing whitespace on save.
trim_trailing_whitespace = true

# UTF-8 encoding
charset = utf-8

# Use spaces for all indents with a width of 4 characters.
indent_style = space
indent_size = 4


[*.css]
indent_size = 2
