/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero-banner {
  padding: 4rem 0;
  width: 100%;
}

.header-content-inner {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 996px) {
  .hero-banner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  padding-bottom: 4rem;
  padding-top: 6rem;
  width: 100%;
  margin-left: calc(50% - 610px);
  max-width: var(--ifm-container-width-xl);
}

.header-title {
  flex: 0 0 56%;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 370px;
  min-height: 100%;
  margin-left: 60px;
  margin-top: 0;
  position: relative;
  max-width: 500px;
}

.copy {
  padding: 2rem;
}

@font-face {
  font-family: "DM Sans Serif";
  src: url("/static/font/DMSerifDisplay-Regular.woff2") format("woff2");
}

h1 {
  font-family: "DM Sans Serif", sans-serif;
  font-size: 72px;
  color: var(--ifm-color-contrasting);
  font-weight: normal;
}

h1 em {
  color: #f98012;
  font-style: normal;
}
