{{!
  Include the core content/section/cmitem template.
}}
{{< core_courseformat/local/content/section/cmitem }}
    {{!
        Add any cm item blocks override here.
    }}
{{/ core_courseformat/local/content/section/cmitem }}
