/* stylelint-disable selector-class-pattern */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #bd5b00;
  --ifm-color-primary-dark: #aa5200;
  --ifm-color-primary-darker: #a14d00;
  --ifm-color-primary-darkest: #844000;
  --ifm-color-primary-light: #d06400;
  --ifm-color-primary-lighter: #d96900;
  --ifm-color-primary-lightest: #f67600;
  --ifm-color-contrasting: #194866;
  --ifm-color-success: #008a00;
  --ifm-color-danger: #ed060d;
  --ifm-font-family-base: "Open Sans";
  --ifm-navbar-height: 5.5rem;
  --ifm-navbar-padding-horizontal: 5.5rem;
  --ifm-navbar-padding-vertical: 0;
  --ifm-navbar-link-color: #194866;
  --ifm-navbar-link-hover-color: #bd5b00;
  --ifm-background-color: #fff;
}

@media (max-width: 767px) {
  :root {
    --ifm-navbar-sidebar-width: 100vw;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #f4963e;
  --ifm-color-primary-dark: #f28621;
  --ifm-color-primary-darker: #f27e13;
  --ifm-color-primary-darkest: #cb680c;
  --ifm-color-primary-light: #f6a65b;
  --ifm-color-primary-lighter: #f6ae69;
  --ifm-color-primary-lightest: #f9c595;
  --ifm-color-contrasting: var(--ifm-color-primary-lightest);
  --ifm-navbar-link-color: #f0c505;
  --ifm-navbar-link-hover-color: #f27e13;
}

.docusaurus-highlight-code-line {
  background-color: rgb(0 0 0 / 10%);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgb(0 0 0 / 30%);
}

.docusaurus-hidden {
  display: none;
}

html {
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Open Sans";
  src: url("/static/font/OpenSans-VariableFont_wdth,wght.woff2") format("woff2");
  font-display: swap;
}

.navbar__logo {
  width: 12.5rem;
}

.navbar__items {
  margin-left: var(--ifm-menu-link-padding-horizontal);
}

.navbar__link {
  border-bottom: solid 2px transparent;
  border-top: solid 2px transparent;
  box-sizing: content-box;
  color: var(--ifmr-navbar-link-color);
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  line-height: 3rem;
  padding: 1rem 0;
  transition: border-color 0.2s, color 0.2s, padding 0.2s;
  margin-right: 2rem;
}

.navbar__link--active,
.navbar__link:hover {
  border-bottom-color: var(--ifm-navbar-link-hover-color);
}

.navbar {
  padding: 1rem;
  padding-left: 0.5rem !important;
}

@media (min-width: 1200px) {
  .navbar {
    padding: var(--ifm-navbar-padding-vertical) var(--ifm-navbar-padding-horizontal);
  }
}

@media (max-width: 1199px) {
  .navbar-sidebar__brand {
    padding: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
  }

  .navbar-sidebar__close,
  .navbar__toggle {
    padding: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
    position: absolute;
    right: var(--ifm-menu-link-padding-horizontal);
  }
}

@media (max-width: 576px) {
  :root .markdown h1 {
    --ifm-h1-font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  footer.theme-doc-footer {
    display: initial;
  }

  footer.theme-doc-footer .theme-doc-footer-tags-row {
    display: block;
    margin-top: 3rem;
  }

  footer.theme-doc-footer .theme-doc-footer-edit-meta-row {
    position: sticky;
    bottom: 0;
    background-color: var(--ifm-background-color);
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  footer.theme-doc-footer nav.pagination-nav {
    margin-top: 1.5rem;
  }
}

ol ol,
ul ol {
  /* Docusaurus overrides the style for nested ordered lists to roman-numerals, which is non-ideal. */
  list-style-type: auto;
}

.theme-admonition {
  /* Prevent overlapping custom components, such as ProjectSummary */
  clear: both;
}
